.card-custom {
    background-color: transparent;
    border: none;
}
.card-custom .card-body {
    padding: 20px;
    border-radius: 10px;
}
.trip{
    margin:35px;
    display: flex;
    height:40rem;
    
}

.pick ,.drop{
    margin:10px;
}

.Search{
    width: 15rem;
    margin:10px;
}

.card{
    background-color: transparent;
    border:none;
    height:100px;
    width:20rem;
}

.nav{
    position: sticky;
    top:0;
    background-color: #121212;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:1rem 0 1rem 0;
    color:white;
}

body{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    background: url(images/delivery.png);
    background-size: cover;
}


.right{
    display:flex;
    justify-content: center;
    align-items: center;
}
.right button{
    padding:0.2rem;
    margin:0.5rem;
    border-radius: 16px;
    width:60px;
}

.btn-group{
    width:31.7rem;
}

body{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}
.nav{
    position: sticky;
    top:0;
    background-color: #121212;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:1rem 0 1rem 0;
    color:white;
}
.left{
    display: flex;
    margin-left: 0.75rem;
}
.right{
    display:flex;
    justify-content: center;
    align-items: center;
}
.right button{
    padding:0.2rem;
    margin:0.5rem;
    border-radius: 16px;
    width:60px;
}
.left a{
    color:white;
    font-size: 1.3rem;
    text-decoration: none;
    padding:0.3rem;
    margin:0.5rem;
}
.left h2{
    padding:0.3rem;
    margin:0.3rem;
}